extends layout

block content
  h1= title
  p Welcome to #{title}
  -  function capitalize(s) { return s.charAt(0).toUpperCase() + s.slice(1); };
  table
    tr
      td
        a(href="/users") #{capitalize('filip')}
